[Tag Incoming]
Regex("^\(From ([^\)]+)\): (.*)",Username,Message) Tag(IncomingPrivate)
Regex("^\(To ([^\)]+)\): (.*)",Username,Message) Tag(OutgoingPrivate)
Regex("^<([^\>]+)> (.*)",Username,Message) Tag(LocalChat,Check)
Regex("^\[\|+\] (.*)",Username,Message) Tag(GlobalChat,Check)
Regex("^\[Cubeville\] (.*)",Message) Tag(CubevilleMessage)
Regex("^\[(Mod|SMod|Admin|SAdmin)\(([^\)])\)\]>> (.*)",Rank,Username,Message) Tag(StaffChat)
Regex("^#(\d+)\. (...\d+@\d+\.\d+\.\d+) by ([^ ]+) - .*",ModreqId,Date,Username,Text) Tag(Modreq)

[Tag IncomingPrivate OutgoingPrivate]
Channel(PrivateMessages,Color:Grey,Color(Message):White)
Channel(General:Prio(1),Color:Grey,Color(Message):White)

[Tag CubevilleMessage]
Channel(Cubeville:Unique)

[Tag StaffChat]
Channel(General:Prio(2),Color:White,Color(Rank):Green,Color(Username):Yellow)
Channel(StaffChat,Color:White,Color(Rank):Green,Color(Username):Yellow)

[Tag Check]
Regex(Message:"[fF][rR][eE][dD]",Mark) Sound(Beep)
Regex(Message:"[sS][tT][aA][fF][fF]",Mark) Sound(Beep)
Regex(Message:"[ABCDEFGHIJKLMNOPQRSTUVWXYZ]{4,}",Mark) Sound(Beep)

[Tag Modreq]
Channel(Modreq,Column(Id):ModreqId,Column(Date):Date,Column(Player):Username,Column(Text):Text)




# Ah, # ist wohl ein Kommentar? :D
# Aufbau eines Funktionsdings:
# Descriptor(Expression,Expression,...)?
# Expression = Keyword(Keyword?):Keyword?(Keyword?)
# Keywords koennen in Anfuehrungszeichen stehen, muessen tun sies nur wenn ein Komma drin vorkommt
